.nav-item {
  text-wrap: nowrap;
  padding: 20px 30px !important;
  border-bottom: 1px solid var(--tui-border-normal);
}
.nav-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.nav-subitem {
  padding: 10px 0;
  border-left: 2px solid var(--tui-border-normal);
  margin-left: 20px;
  padding-left: 10px;
}

.accordion {
  border-radius: 0;
  border-bottom: 1px solid var(--tui-border-normal);

  [tuiAccordion] {
    background: transparent !important;
    mask: none;
  }

  .nav-item {
    padding: 0 30px !important;
  }

  tui-expand,
  [tuiCell] {
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
    padding: 0;
    padding-bottom: 10px;
  }

  .nav-item {
    border-bottom: 0 !important;
  }

  .nav-item::after {
    margin-inline-start: 0 !important;
  }
}
