<div class="flex flex-col md:flex-row wrapper-panel">
  <div
    class="hidden md:flex flex-col gap-10 bg-white w-[250px]"
    [style.border-right]="'1px solid var(--tui-border-normal)'"
  >
    <div class="flex flex-col text-start sticky top-[20px]">
      <a
        *ngxPermissionsOnly="[Role.provider]"
        class="nav-item"
        iconStart="@tui.scan"
        [style.--tui-icon-size.rem]="1.2"
        [style.color]="'var(--tui-text-primary)'"
        [style.font-size.rem]="1.2"
        tuiLink
        role="button"
        routerLink="/escanear"
      >
        Escanear
      </a>

      <a
        *ngxPermissionsOnly="[Role.client]"
        class="nav-item"
        iconStart="@tui.shopping-bag"
        [style.--tui-icon-size.rem]="1.2"
        [style.color]="'var(--tui-text-primary)'"
        [style.font-size.rem]="1.2"
        tuiLink
        role="button"
        routerLink="/mis-compras"
        routerLinkActive="active-link"
      >
        Mis compras
      </a>

      <a
        *ngxPermissionsOnly="[Role.client]"
        class="nav-item"
        iconStart="@tui.ticket"
        [style.--tui-icon-size.rem]="1.2"
        [style.color]="'var(--tui-text-primary)'"
        [style.font-size.rem]="1.2"
        tuiLink
        role="button"
        routerLink="/mis-tickets"
        routerLinkActive="active-link"
      >
        Mis tickets
      </a>

      <tui-accordion
        class="accordion"
        *ngxPermissionsOnly="[Role.client, Role.provider]"
      >
        <button
          class="nav-item"
          iconStart="@tui.settings-2"
          [style.--tui-icon-size.rem]="1.2"
          [style.color]="'var(--tui-text-primary)'"
          [style.font-size.rem]="1.2"
          [ngClass]="isActive('/ajustes') ? 'active-link' : ''"
          [tuiAccordion]="isActive('/ajustes')"
          tuiCell
        >
          <span class="font-normal">Ajustes</span>
        </button>
        <tui-expand>
          <div class="flex flex-col">
            <a
              routerLink="/ajustes/mis-datos"
              routerLinkActive="active-link"
              tuiLink
              [style.color]="'var(--tui-text-primary)'"
              class="nav-subitem"
              >Mis datos</a
            >
            <a
              routerLink="/ajustes/cambiar-clave"
              routerLinkActive="active-link"
              tuiLink
              [style.color]="'var(--tui-text-primary)'"
              class="nav-subitem"
              >Cambiar contraseña</a
            >
          </div>
        </tui-expand>
      </tui-accordion>
    </div>
  </div>

  <div class="container-x w-full my-5 flex flex-col gap-5">
    <tui-breadcrumbs>
      @for (item of breadcrumbs; track item) {
        @if (item?.routerLink) {
          <a
            class="md:text-3xl md:font-semibold"
            *tuiItem
            [routerLink]="item.routerLink"
          >
            {{ item.caption }}
          </a>
        } @else {
          <span class="md:text-3xl md:font-semibold text-dark" *tuiItem>{{
            item.caption
          }}</span>
        }
      }
    </tui-breadcrumbs>

    <section class="h-full">
      <ng-content></ng-content>
    </section>
  </div>
</div>
