<div class="header-wrapper">
  <div
    [ngStyle]="{
      'background-image': ' url(' + this.category?.picture + ')'
    }"
    class="image-wrapper"
  ></div>

  <div class="title-wrapper">
    <img [src]="category.icon" alt="" width="150" />
    <h1 class="text-5xl lexend-font">{{ category.name }}</h1>
  </div>
</div>

<div class="container-x flex flex-col gap-5 mb-5">
  <!--Search-->
  <tui-textfield iconStart="@tui.search">
    <label tuiLabel>Buscar</label>
    <input placeholder="Cabañas, Treking, Parapente, etc" tuiTextfield />
  </tui-textfield>

  <!--Filters-->
  <div class="flex justify-between gap-5">
    <button
      size="s"
      tuiButton
      tuiChevron
      tuiDropdownOpen
      type="button"
      [tuiDropdown]="content"
      appearance="secondary"
    >
      {{ category.name }}
    </button>

    <button
      iconStart="@tui.filter"
      size="s"
      tuiButton
      type="button"
      appearance="outline"
    >
      Últimos
    </button>
  </div>

  <!--Items-->

  @if(!items.length){
  <app-not-found-items></app-not-found-items>
  } @else{
  <div class="grid grid-cols-2 gap-5">
    @for(product of items; track product){
    <app-shop-item ngSkipHydration [product]="product"></app-shop-item>

    }
  </div>

  <tui-pagination [index]="0" [length]="4" />
  }

  <div class="w-full">
    <h2 class="font-semibold mb-2">Explora otras categorías</h2>
    <app-category-slider ngSkipHydration></app-category-slider>
  </div>
</div>

<ng-template #content>
  <tui-data-list role="menu">
    @for(category of categories; track category){

    <a
      #rla="routerLinkActive"
      role="menuitemradio"
      routerLinkActive
      tuiOption
      [attr.aria-checked]="rla.isActive"
      [routerLink]="category.to"
    >
      <span>{{ category.name }}</span>
      @if(rla.isActive){

      <tui-icon *ngIf="rla.isActive" icon="@tui.check" />
      }
    </a>
    }
  </tui-data-list>
</ng-template>
