<app-user-panel-layout [breadcrumbs]="breadcrumbs">
  <div class="flex flex-col gap-5 h-full">
    <!-- <tui-textfield iconStart="@tui.search">
        <label tuiLabel>Buscar</label>
        <input placeholder="Cabañas, Treking, Parapente, etc" tuiTextfield />
      </tui-textfield> -->

    @if (filterBySale) {
      <div class="flex justify-end">
        <tui-chip appearance="primary" size="m">
          Compra #{{ filterBySale }}
          <button
            iconStart="@tui.x"
            tuiIconButton
            type="button"
            routerLink="/my-tickets"
            (click)="removeFilterBySale()"
          >
            Remove
          </button>
        </tui-chip>
      </div>
    } @else {
      <div class="w-full flex overflow-x-auto pb-2">
        <form tuiGroup class="group" [formGroup]="formFilter">
          @for (filter of filters; track filter) {
            <label appearance="" tuiBlock>
              <input
                formControlName="filter"
                tuiBlock
                type="radio"
                [value]="filter.value"
                (input)="handleFilter(filter.value)"
              />
              {{ filter.label }}
            </label>
          }
        </form>
      </div>
    }

    @defer (when !loading()) {
      @if (!tickets().length) {
        <div class="h-full">
          <app-not-found-items></app-not-found-items>
        </div>
      } @else {
        @for (item of tickets(); track item) {
          <div class="flex flex-col gap-1 overflow-hidden">
            <h1 class="text-lg">
              <tui-badge>
                {{ item.tickets.length }}
                {{ item.tickets.length > 1 ? "Tickets" : "Ticket" }}
              </tui-badge>
              <span class="ms-2 font-bold">{{ item.productName }}</span>
            </h1>

            <app-ticket-slider [tickets]="item.tickets"></app-ticket-slider>
          </div>
        }
      }
    } @placeholder {
      <div class="flex justify-center items-center h-full">
        <tui-loader></tui-loader>
      </div>
    }
  </div>
</app-user-panel-layout>
