<section class="background-gradient py-5">
  <div class="container-x flex flex-col gap-5">
    <div class="flex justify-center">
      <img
        width="150"
        src="{{ NGX_STORAGE_RESOURCES }}/chucao_quest.png"
        alt=""
      />
    </div>
    <div
      tuiAppearance="floating"
      tuiCardLarge
      class="mt-[-75px]"
      [style.minHeight.px]="200"
    >
      <h1 class="text-center text-2xl text-secondary font-bold">
        Cambiar contraseña
      </h1>
      <app-set-password
        (onChange)="onChangePassword($event)"
      ></app-set-password>

      <div class="text-center">
        <ngx-turnstile
          [siteKey]="NGX_TURNSTILE_KEY"
          [(ngModel)]="tokenControl"
          theme="light"
          language="es"
        ></ngx-turnstile>
      </div>

      <button
        tuiButton
        iconStart="@tui.shield-check"
        (click)="changePassword()"
      >
        Guardar
      </button>
    </div>
  </div>
</section>
