<section class="background-gradient py-5">
  <div class="container-x flex flex-col gap-5">
    <div class="flex justify-center">
      <img
        width="150"
        src="http://127.0.0.1:54321/storage/v1/object/public/resources/chucao/quest.png"
        alt=""
      />
    </div>
    <div
      tuiAppearance="floating"
      tuiCardLarge
      class="mt-[-75px]"
      [style.minHeight.px]="200"
    >
      <h1 class="text-center text-2xl text-secondary font-bold">
        ¿Olvidaste tu contraseña?
      </h1>

      <form tuiForm="l" [formGroup]="form">
        <tui-textfield>
          <label tuiLabel>Correo</label>
          <input
            formControlName="email"
            autocomplete="email"
            tuiTextfield
            type="email"
            placeholder="jhon@ejemplo.com"
          />
        </tui-textfield>
        <tui-error
          formControlName="email"
          [error]="[] | tuiFieldError | async"
        />

        <footer>
          <button
            tuiButton
            class="w-full"
            [disabled]="!form.valid"
            iconStart="@tui.mail"
            (click)="recover()"
          >
            Recuperar
          </button>
        </footer>
        <p class="text-center">
          ¿Ya tienes cuenta? <a routerLink="/ingresar" tuiLink>Ingresa</a>
        </p>
      </form>
    </div>
  </div>
</section>
