@if (isBrowserOnly) {
  <div class="embla" emblaCarousel [options]="options" [plugins]="plugins">
    <div class="embla__container">
      @for (product of products(); track product) {
        <div class="embla__slide">
          <div class="embla__parallax">
            <div class="embla__parallax__layer relative">
              <img
                class="embla__slide__img embla__parallax__img"
                [src]="product.product_multimedia[0].file_url"
                alt="Your alt text"
                loading="lazy"
              />
              <div
                class="absolute top-0 left-0 p-5 h-full flex flex-col justify-between"
              >
                <tui-badge appearance="primary" size="xl">
                  {{ product.category.name }}
                </tui-badge>
                <div class="z-1 mt-10 text-white">
                  <h1
                    class="text-lg md:text-4xl line-clamp-2 md:leading-12 lexend-font font-bold md:max-w-[70%]"
                  >
                    {{ product.name }}
                  </h1>
                  <small class="flex items-center mt-2 gap-2 md:text-lg">
                    <tui-icon
                      icon="@tui.map-pin"
                      [style.width.px]="15"
                      [style.height.px]="15"
                    />
                    {{ product.provider.commune }}</small
                  >
                </div>
              </div>
              <!-- <div class="gradient-overlay"></div> -->
            </div>
          </div>
        </div>
      }
    </div>
    <div class="embla__controls">
      <div class="embla__dots"></div>
    </div>
  </div>
}
