<section class="background-gradient py-5">
  <div class="container-x flex flex-col gap-5">
    <div class="flex justify-center">
      <img
        width="150"
        src="http://127.0.0.1:54321/storage/v1/object/public/resources/chucao/star_eyes.png"
        alt=""
      />
    </div>
    <div
      tuiAppearance="floating"
      tuiCardLarge
      class="mt-[-75px]"
      [style.minHeight.px]="300"
    >
      <h1 class="text-center text-2xl text-secondary font-bold">
        ¡Bienvenido!
      </h1>

      <form tuiForm="l" [formGroup]="form">
        <tui-textfield>
          <label tuiLabel>Correo</label>
          <input
            formControlName="email"
            autocomplete="email"
            tuiTextfield
            type="email"
            placeholder="jhon@ejemplo.com"
          />
        </tui-textfield>
        <tui-error
          formControlName="email"
          [error]="[] | tuiFieldError | async"
        />
        <tui-textfield>
          <label tuiLabel>Contraseña</label>
          <input
            autocomplete="current-password"
            formControlName="password"
            tuiTextfield
            type="password"
          />
          <tui-icon tuiPassword />
        </tui-textfield>
        <tui-error
          formControlName="password"
          [error]="[] | tuiFieldError | async"
        />
        <a routerLink="/recuperar" tuiLink>¿Olvidaste tu contraseña?</a>

        <footer>
          <button
            tuiButton
            iconStart="@tui.log-in"
            class="w-full"
            (click)="login()"
            [disabled]="!form.valid"
          >
            Ingresar
          </button>
        </footer>
        <p class="text-center">
          ¿No tienes cuenta? <a routerLink="/registro" tuiLink>Registrate</a>
        </p>
      </form>
    </div>
  </div>
</section>
