<div
  class="relative"
  [style.background-color]="'var(--tui-background-base-alt)'"
>
  @if (isBrowser) {
    <app-nav></app-nav>
  }
  <div>
    <ng-content></ng-content>
  </div>

  <footer
    *ngxPermissionsExcept="Role.provider"
    class="bg-white"
    style="border-top: 1px solid var(--tui-border-normal)"
  >
    <div class="container-x grid grid-cols-1 gap-10 py-5">
      <div>
        <h6 class="font-semibold mb-2">Cuenta</h6>
        <ul class="flex gap-3 text-slate-500 flex-wrap">
          <li><a routerLink="/mis-compras"> Mis compras </a></li>
          <li><a routerLink="/mis-tickets"> Mis tickets </a></li>
          <li><a routerLink="/ajustes/mis-datos">Mis Datos</a></li>
          <li><a routerLink="/recuperar">Recuperar cuenta</a></li>
        </ul>
      </div>

      <!-- <div>
        <h6 class="font-semibold mb-2">Condiciones de uso</h6>
        <ul class="flex gap-3 text-slate-500 flex-wrap">
          <li>
            <a routerLink="/terminos-y-condiciones">Políticas de privacidad</a>
          </li>
        </ul>
      </div> -->
      <div class="text-center w-full md:col-span-3">
        © 2014-2025 LicanTravel. Todos los derechos reservados.
      </div>
      <small class="text-center w-full md:col-span-3">
        Desarrollado por HipLi
      </small>
    </div>
  </footer>
</div>
