<app-nav></app-nav>
<ng-content></ng-content>
<footer class="bg-white" style="border-top: 1px solid var(--tui-border-normal)">
  <div class="container-x grid grid-cols-1 gap-5 py-5">
    <div>
      <h6 class="font-semibold mb-2">Cuenta</h6>
      <ul class="flex gap-3 text-slate-500 flex-wrap">
        <li>Mis compras</li>
        <li>Mis Tickets</li>
        <li>Mis Datos</li>
        <li>Recuperar cuenta</li>
      </ul>
    </div>
    <div>
      <div>
        <h6 class="font-semibold mb-2">Acerca de LicanTravel</h6>
        <ul class="flex gap-3 text-slate-500 flex-wrap">
          <li>¿Como funciona?</li>
        </ul>
      </div>
    </div>

    <div>
      <h6 class="font-semibold mb-2">Condiciones de uso</h6>
      <ul class="flex gap-3 text-slate-500 flex-wrap">
        <li>Políticas de privacidad</li>
      </ul>
    </div>

    <span>© 2014-2025 LicanTravel. Todos los derechos reservados.</span>
  </div>
</footer>
