<button
  tuiSurface="floating"
  class="shop-item"
  tuiCardMedium
  (click)="goToProduct()"
>
  @if (!product.is_visible) {
    <div
      [style.background]="'var(--tui-text-negative)'"
      class="w-full text-center"
    >
      <small class="text-white">No publicado </small>
    </div>
  }
  <div class="flex-grow bg-slate-100 wrapper-img min-h-[150px] max-h-[150px]">
    <img
      src="{{ product.product_multimedia[0].file_url }}"
      [alt]="product.name"
      loading="lazy"
    />
    <!-- <app-shop-images-slider
      ngSkipHydradation
      [images]="product.product_multimedia"
      [slider]="slider"
    ></app-shop-images-slider> -->
  </div>
  <div class="p-3 w-full oveflow-hidden flex flex-col gap-2 text-start">
    <h1 class="font-normal line-clamp-2 leading-5">
      {{ product.name }}
    </h1>
    <div class="font-semibold text-lg">
      @if (product.price_off) {
        <div class="flex flex-col gap-1">
          <span [style.color]="'var(--tui-text-positive)'">{{
            product.price_off | currency: "CLP"
          }}</span>
          <small class="line-through text-xs">{{
            product.price | currency: "CLP"
          }}</small>
        </div>
      } @else {
        {{ product.price | currency: "CLP" }}
      }
    </div>
    <span class="text-xs"
      >{{ product.providers.commune }} - {{ product.providers.region }}</span
    >
  </div>
</button>
