<div
  tuiAppearance="floating"
  class="shop-item"
  tuiCardMedium
  (click)="open = !open"
>
  <app-shop-images-slider
    ngSkipHydradation
    [images]="product.img"
    [slider]="slider"
  ></app-shop-images-slider>
  <div class="p-3">
    <h2 tuiTitle="xs">
      <small tuiSubtitle>
        {{ product.ubication }} · {{ product.category }}
      </small>
      <div class="text-secondary">{{ product.name }}</div>
      <p class="line-clamp-1 font-normal">{{ product.description }}</p>
      <div tuiSubtitle class="mt-3" [style.color]="'var(--tui-text-primary)'">
        {{ product.price | currency : "CLP" }}
        @if(product.priceOff) {<del
          >${{ product.priceOff | currency : "CLP" }}</del
        >}
      </div>
    </h2>
  </div>
</div>

<ng-template let-observer [(tuiResponsiveDialog)]="open">
  <div class="container-x">
    <app-product-layout
      [product]="product"
      [dialog]="observer"
    ></app-product-layout>
  </div>
</ng-template>
