<div class="embla" emblaCarousel [options]="options">
  <div class="embla__container">
    @for(category of categories; track category){
    <div class="embla__slide">
      <button
        tuiCardLarge
        tuiSurface="floating"
        type="button"
        class="grid grid-cols-1 items-center"
        style="border-radius: var(--border-radius)"
      >
        <div class="w-full flex justify-center">
          <img src="/icons/adventure.png" alt="" width="50" />
        </div>
        <span>Aventura</span>
      </button>
    </div>

    }
  </div>
</div>
