<app-user-panel-layout [breadcrumbs]="breadcrumbs">
  <tui-notification appearance="warning" size="m">
    <div tuiTitle [style.padding-inline-end.rem]="2">
      Atención
      <div tuiSubtitle>
        Al aceptar el cambio de contraseña, se cerrará la sesión y se le enviará
        un enlace de restablecimiento de contraseña al correo asociado.
      </div>
    </div>
    <button iconStart="@tui.x" tuiIconButton type="button">Close</button>
  </tui-notification>
  <button tuiButton iconStart="@tui.mail" class="w-full mt-3" (click)="save()">
    Cambiar contraseña
  </button>
</app-user-panel-layout>
