<app-user-panel-layout [breadcrumbs]="breadcrumbs">
  <tui-notification appearance="warning" size="m">
    <div tuiTitle [style.padding-inline-end.rem]="2">
      Atención
      <div tuiSubtitle>
        Al aceptar el cambio de contraseña, se cerrará la sesión y se le enviará
        un enlace de restablecimiento de contraseña al correo asociado.
      </div>
    </div>
    <button iconStart="@tui.x" tuiIconButton type="button">Close</button>
  </tui-notification>
  <button tuiButton iconStart="@tui.mail" class="w-full mt-3" (click)="save()">
    Cambiar contraseña
  </button>
</app-user-panel-layout>

<ng-template
  let-observer
  [tuiResponsiveDialogOptions]="options"
  [(tuiResponsiveDialog)]="open"
>
  <div class="flex flex-col gap-3 mt-3">
    <app-set-password (onChange)="onChangePassword($event)"></app-set-password>

    <div class="text-center">
      <ngx-turnstile
        [siteKey]="NGX_TURNSTILE_KEY"
        [(ngModel)]="tokenControl"
        theme="light"
        language="es"
      ></ngx-turnstile>
    </div>
  </div>

  <footer class="footer justify-end flex gap-3">
    <button
      size="m"
      tuiButton
      type="button"
      (click)="cancel()"
      appearance="secondary"
    >
      Cancelar
    </button>
    <button
      size="m"
      tuiButton
      type="button"
      iconStart="@tui.save"
      (click)="change()"
      [loading]="loading"
      [disabled]="!password || !tokenControl"
    >
      Guardar
    </button>
  </footer>
</ng-template>
