.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  overflow: clip;
  overflow-clip-margin: 20px;

  img {
    margin-bottom: -50px;
  }
}

.colorful-text {
  display: inline-block;
  background: linear-gradient(
    to right,
    #f45725,
    #ff8f00,
    #ffc700,
    #8dda71,
    #34b41f,
    #133ba7,
    #21a0ff,
    #00247d
  );
  -webkit-background-clip: text;
  color: transparent;
}

@media only screen and (min-width: 768px) {
}
.card-step {
  background-color: white;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  position: relative;

  .wrapper-step {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -80px;
    font-size: 150px;
    z-index: 0;
    opacity: 0.5;
    color: white;
    background-color: var(--tui-background-accent-2);
    border-radius: 50%;
    padding: 30px;
    height: 100px;
    width: 100px;
  }

  .image-wrapper {
    z-index: 1;
    overflow: hidden;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    width: 100%;
    img {
      object-position: center;
      object-fit: cover;
      height: auto;
      width: 100%;
    }
  }
}
