<section class="background-gradient py-5">
  <div class="container-x flex flex-col gap-5 items-center">
    <div class="flex justify-center">
      <img
        width="150"
        src="{{ NGX_STORAGE_RESOURCES }}/chucao_star_eyes.png"
        alt=""
      />
    </div>
    <div
      tuiAppearance="floating"
      tuiCardLarge
      class="mt-[-75px] justify-center"
      [style.minHeight.px]="300"
    >
      <h1 class="text-center text-3xl text-secondary font-bold">
        ¡Bienvenido!
      </h1>
      <p>
        Haz sido invitado a la plataforma. Por favor, registra una contraseña
        para disfrutar de nuestros servicios.
      </p>

      <app-set-password
        (onChange)="onChangePassword($event)"
      ></app-set-password>

      <div class="text-center">
        <ngx-turnstile
          [(ngModel)]="tokenControl"
          [siteKey]="NGX_TURNSTILE_KEY"
          theme="light"
          language="es"
        ></ngx-turnstile>
      </div>

      <button
        tuiButton
        iconStart="@tui.check"
        (click)="acceptInvitation()"
        (keyup.enter)="acceptInvitation()"
        [loading]="loading"
        [disabled]="!password || !tokenControl"
      >
        Terminar
      </button>
    </div>
  </div>
</section>
