<nav>
  <span class="flex-grow">
    <a routerLink="/">
      <img src="/logo/short.svg" alt="Logo LicanTravel" height="50" />
    </a>
  </span>

  <button
    size="m"
    iconStart="@tui.compass"
    tuiButton
    type="button"
    appearance="accent"
    (click)="toExplore()"
  >
    Explorar
  </button>
  <tui-badged-content>
    <tui-badge-notification size="l" tuiSlot="top"> 99 </tui-badge-notification>
    <button
      size="m"
      iconStart="@tui.shopping-cart"
      tuiIconButton
      appearance="flat"
      type="button"
    >
      Carrito de compras
    </button>
  </tui-badged-content>
  <button
    iconStart="@tui.menu"
    size="m"
    tuiIconButton
    appearance="flat"
    type="button"
    (click)="open.set(true)"
  >
    Menú
  </button>
</nav>

<tui-drawer
  *tuiPopup="open()"
  direction="right"
  class="drawer"
  [overlay]="true"
  (click.self)="onClose()"
>
  <div class="flex flex-col gap-10">
    <img src="/logo/long.svg" alt="" class="w-100" />
    @if(!session()){

    <button
      iconStart="@tui.log-in"
      size="xl"
      appearance="primary"
      tuiButton
      type="button"
      class="w-100"
      (click)="login()"
    >
      Ingresar
    </button>
    <button
      iconStart="@tui.user-plus"
      size="xl"
      appearance="outline"
      tuiButton
      type="button"
      class="w-100"
    >
      Crear cuenta
    </button>
    } @else{
    <div class="flex flex-col text-end gap-5">
      <span class="text-slate-500">Cuenta</span>
      <a
        class="nav-item"
        iconStart="@tui.shopping-bag"
        [style.--tui-icon-size.rem]="1.2"
        [style.color]="'var(--tui-text-primary)'"
        [style.font-size.rem]="1.2"
        tuiLink
        role="button"
      >
        Mis compras
      </a>
      <a
        class="nav-item"
        iconStart="@tui.ticket"
        [style.--tui-icon-size.rem]="1.2"
        [style.color]="'var(--tui-text-primary)'"
        [style.font-size.rem]="1.2"
        tuiLink
        role="button"
      >
        Mis tickets
      </a>
      <a
        class="nav-item"
        iconStart="@tui.settings-2"
        iconEnd="@tui.chevron-down"
        [style.--tui-icon-size.rem]="1.2"
        [style.color]="'var(--tui-text-primary)'"
        [style.font-size.rem]="1.2"
        tuiLink
        role="button"
      >
        Ajustes
      </a>
      <a
        class="nav-item"
        iconStart="@tui.log-out"
        [style.--tui-icon-size.rem]="1.2"
        [style.color]="'var(--tui-text-primary)'"
        [style.font-size.rem]="1.2"
        tuiLink
        (click)="signOut()"
        role="button"
      >
        Salir
      </a>
    </div>
    }
  </div>
</tui-drawer>
<ng-content></ng-content>
