<nav>
  <span class="flex-grow">
    <a href="/">
      @if ((breakpoint$ | async) === "mobile") {
        <img
          src="{{ NGX_STORAGE_RESOURCES }}/lican_logo_short.svg"
          loading="lazy"
          alt="Logo LicanTravel"
          height="50"
          style="max-height: 50px; height: 50px"
        />
      } @else {
        <img
          src="{{ NGX_STORAGE_RESOURCES }}/lican_logo_long.svg"
          loading="lazy"
          alt="Logo LicanTravel"
          height="50"
          style="max-height: 50px; height: 50px"
        />
      }
    </a>
  </span>

  @if (
    !supabaseService.isServer && (breakpoint$ | async) !== "mobile" && !inHome
  ) {
    <div class="flex-grow" *ngxPermissionsExcept="[Role.provider]">
      <app-search></app-search>
    </div>
  }

  @if ((breakpoint$ | async) === "mobile") {
    <button
      *ngxPermissionsExcept="[Role.provider]"
      iconStart="@tui.compass"
      tuiButton
      tuiIconButton
      type="button"
      appearance="accent"
      (click)="toExplore()"
    >
      Explorar
    </button>
  } @else {
    <button
      *ngxPermissionsExcept="[Role.provider]"
      iconStart="@tui.compass"
      tuiButton
      type="button"
      appearance="accent"
      (click)="toExplore()"
    >
      Explorar
    </button>
  }

  <tui-badged-content *ngxPermissionsOnly="[Role.client, Role.anon]">
    @if (cartService.items().length > 0) {
      <tui-badge-notification size="l" tuiSlot="top">
        {{ cartService.items().length }}
      </tui-badge-notification>
    }
    <button
      iconStart="@tui.shopping-cart"
      tuiIconButton
      appearance="outline"
      type="button"
      (click)="openCart = true"
    >
      Carrito de compras
    </button>
  </tui-badged-content>

  @if ((breakpoint$ | async) === "mobile") {
    <button
      iconStart="@tui.menu"
      tuiIconButton
      appearance="outline"
      type="button"
      (click)="open.set(true)"
    >
      Menú
    </button>
  } @else {
    <!--Dekstop-->

    <button
      [tuiHint]="menuDesktop"
      [tuiHintManual]="hintShown"
      tuiHintAppearance="dark"
      (click)="hintShown = !hintShown"
      tuiHintDirection="bottom"
      iconStart="@tui.user"
      appearance="outline"
      tuiIconButton
      type="button"
    >
      Mi cuenta
    </button>
  }

  @if ((breakpoint$ | async) === "mobile" && !inHome) {
    <div class="basis-full" *ngxPermissionsExcept="[Role.provider]">
      <app-search></app-search>
    </div>
  }
</nav>

<!--Mobile-->
<tui-drawer
  *tuiPopup="open()"
  direction="right"
  class="drawer"
  [overlay]="true"
  (click.self)="onClose()"
>
  <div class="flex flex-col gap-10">
    <img
      src="{{ NGX_STORAGE_RESOURCES }}/lican_logo_long.svg"
      alt="Logo LicanTravel"
      loading="lazy"
      class="w-100"
    />
    @if (!userService._session()) {
      <ng-container *ngTemplateOutlet="login"></ng-container>
    } @else {
      <ng-container *ngTemplateOutlet="menu"></ng-container>
    }
  </div>
</tui-drawer>

<!--Cart-->
<ng-template
  let-observer
  [tuiResponsiveDialogOptions]="options"
  [(tuiResponsiveDialog)]="openCart"
>
  <div class="flex flex-col gap-3">
    @if (cartService.items().length) {
      @for (product of cartService.items(); track i; let i = $index) {
        <app-item-cart [item]="product"></app-item-cart>
      }
      <button
        size="l"
        tuiButton
        type="button"
        appearance="positive"
        class="w-full"
        (click)="toCheckout()"
        iconStart="@tui.dollar-sign"
      >
        Pagar {{ cartService.countItems() | currency: "CLP" }}
      </button>
      <button
        size="l"
        tuiButton
        type="button"
        appearance="secondary"
        class="w-full"
        (click)="observer.complete()"
        iconStart="@tui.shopping-cart"
      >
        Seguir comprando
      </button>
    } @else {
      <app-not-found-items></app-not-found-items>
    }
  </div>
</ng-template>

<!--Login-->
<ng-template #login>
  <button
    iconStart="@tui.log-in"
    size="xl"
    appearance="primary"
    tuiButton
    type="button"
    class="w-100"
    (click)="toLogin()"
  >
    Ingresar
  </button>
  <button
    iconStart="@tui.user-plus"
    size="xl"
    appearance="outline"
    tuiButton
    type="button"
    class="w-100"
    (click)="toRegister()"
  >
    Crear cuenta
  </button>
</ng-template>

<!--Menu-->
<ng-template #menu>
  <div class="flex flex-col gap-5 text-end">
    <h1 class="text-slate-500">
      Hola,
      @if (userService._session()?.role === Role.provider) {
        {{ displayName }}
      } @else {
        {{ userName }}
      }
    </h1>
    @for (item of NAV; track item) {
      @if (!item.submenu) {
        <a
          class="nav-item"
          *ngxPermissionsOnly="item.permissions"
          [iconStart]="item?.icon"
          [style.--tui-icon-size.rem]="1.2"
          [style.color]="'var(--tui-text-primary)'"
          [style.font-size.rem]="1.2"
          tuiLink
          role="button"
          [routerLink]="item.href"
          routerLinkActive="active-link"
          (click)="onMenuItemClick(item)"
        >
          {{ item.label }}
        </a>
      } @else {
        <tui-accordion class="accordion" *ngxPermissionsOnly="item.permissions">
          <button
            class="nav-item"
            [ngClass]="isActive(item.href || '') ? 'active-link' : ''"
            [iconStart]="item.icon"
            [style.--tui-icon-size.rem]="1.2"
            [style.color]="'var(--tui-text-primary)'"
            [style.font-size.rem]="1.2"
            [tuiAccordion]="isActive('/ajustes')"
            tuiCell
          >
            <span class="font-normal">{{ item.label }}</span>
          </button>
          <tui-expand>
            <div class="flex flex-col">
              @for (subitem of item.submenu; track subitem) {
                <a
                  [routerLink]="subitem.href"
                  routerLinkActive="active-link"
                  (click)="onClose()"
                  [style.color]="'var(--tui-text-primary)'"
                  tuiLink
                  class="nav-subitem mt-2"
                  >{{ subitem.label }}</a
                >
              }
            </div>
          </tui-expand>
        </tui-accordion>
      }
    }

    <a
      class="nav-item"
      iconStart="@tui.log-out"
      [style.--tui-icon-size.rem]="1.2"
      [style.color]="'var(--tui-text-primary)'"
      [style.font-size.rem]="1.2"
      tuiLink
      (click)="signOut()"
      role="button"
    >
      Salir
    </a>
  </div>
</ng-template>

<ng-template #menuDesktop>
  <div outsideClick (clickOutside)="hintShown = false">
    @if (!userService._session()) {
      <div class="flex flex-col gap-2 text-dark">
        <h1 class="font-semibold text-lg">¡Bienvenido!</h1>
        <p>Parece que aún no iniciaste sesión</p>
        <ng-container *ngTemplateOutlet="login"></ng-container>
      </div>
    } @else {
      <ng-container *ngTemplateOutlet="menu"></ng-container>
    }
  </div>
</ng-template>
