@use "tailwindcss";

body {
  background-color: var(--tui-background-base-alt);
  scroll-behavior: smooth;
  color: #404040;
}

@theme {
  --color-primary: #21a0ff;
  --color-secondary: #ff8f00;
  --color-dark: #404040;
}

@layer base {
  ul,
  ol {
    list-style: revert;
  }
}

ul {
  margin-left: 1rem;
}

.container-x {
  max-width: var(--container-6xl);
  margin-inline: auto;
  padding: 20px;
  max-width: 55rem;
  overflow: clip;
  overflow-clip-margin: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  gap: var(--gap);
  background: var(--tui-background-elevation-2);
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
}

.lexend-font {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.background-gradient {
  background: linear-gradient(
    0deg,
    rgba(237, 237, 237, 0) 11.54%,
    #21a0ff 100%
  );

  &-short {
    background: linear-gradient(
      180deg,
      rgba(237, 237, 237, 0) 82.5%,
      #21a0ff 100%
    );
  }
}

.show-loading {
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.5s ease-in-out,
    visibility 0.5s ease-in-out;
}

.hidden-loading {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease-in-out,
    visibility 0.5s ease-in-out;
}

.logo-animated {
  animation: logo 0.4s ease-in-out infinite;
}

@keyframes logo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/**
Fix dialog scroll x
*/
tui-sheet-dialog {
  .t-top {
    margin: 0 !important;
  }

  .t-heading {
    margin: 0 !important;
  }

  .t-content {
    padding: 0 20px;
  }
}
