@use "tailwindcss";

.container-x {
  padding: calc(var(--spacing) * 5);
  max-width: var(--container-6xl);
  margin-inline: auto;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 1.5rem;
  gap: var(--gap);
  background: var(--tui-background-elevation-2);
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
}

.lexend-font {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.background-gradient {
  background: linear-gradient(
    0deg,
    rgba(237, 237, 237, 0) 11.54%,
    #21a0ff 100%
  );
}
