<form
  tuiForm="l"
  [formGroup]="form"
  [style.max-width.rem]="35"
  [formGroup]="form"
>
  <tui-textfield>
    <label tuiLabel>Contraseña</label>
    <input
      autocomplete="new-password"
      formControlName="password"
      tuiTextfield
      type="password"
    />
    <tui-icon tuiPassword></tui-icon>
  </tui-textfield>
  <tui-error
    formControlName="password"
    [error]="[] | tuiFieldError | async"
  ></tui-error>

  <tui-textfield>
    <label tuiLabel>Repetir contraseña</label>
    <input tuiTextfield type="password" formControlName="repeatPassword" />
    <tui-icon tuiPassword></tui-icon>
  </tui-textfield>
  <tui-error
    formControlName="repeatPassword"
    [error]="[] | tuiFieldError | async"
  ></tui-error>

  @if (form.get("password")?.value !== form.get("repeatPassword")?.value) {
    <tui-error error="Las contraseñas no coinciden"></tui-error>
  }

  <ul>
    <li class="text-slate-400" [class.valid]="passwordValidations.hasMinLength">
      Mínimo 8 carácteres
    </li>
    <li class="text-slate-400" [class.valid]="passwordValidations.hasUpperCase">
      Al menos una letra mayúscula
    </li>
    <li class="text-slate-400" [class.valid]="passwordValidations.hasLowerCase">
      Al menos una letra minúscula
    </li>
    <li class="text-slate-400" [class.valid]="passwordValidations.hasNumber">
      Al menos un número
    </li>
    <li
      class="text-slate-400"
      [class.valid]="passwordValidations.hasSpecialChar"
    >
      Al menos un carácter especial
    </li>
  </ul>
</form>
