<div class="item-card">
  <div class="img-wrapper bg-slate-100">
    <img [src]="item.product.product_multimedia[0].file_url" alt="" />
  </div>

  <div class="p-3 flex flex-col info-wrapper">
    <a
      class="font-bold line-clamp-2 underline text-primary cursor-pointer"
      (click)="goTo()"
      >{{ item.product.name }}</a
    >
    <div class="flex flex-grow items-end">
      <div [style.color]="'var(--tui-text-primary)'">
        @if (item.product.price_off) {
          <div class="flex gap-3 items-center" class="font-bold text-lg">
            <span [style.color]="'var(--tui-text-positive)'">{{
              item.product.price_off | currency: "CLP"
            }}</span>
            <span class="line-through font-normal text-sm">{{
              item.product.price | currency: "CLP"
            }}</span>
          </div>
        } @else {
          <span class="font-semibold">
            {{ item.product.price | currency: "CLP" }}</span
          >
        }
      </div>
    </div>
  </div>

  <div class="flex flex-col">
    <button
      iconStart="@tui.plus"
      size="s"
      appearance="flat"
      tuiButton
      tuiIconButton
      type="button"
      [style.border-radius.px]="0"
      (click)="add()"
    >
      +
    </button>
    <span
      class="flex-grow quantity-wrapper text-lg flex justify-center items-center"
    >
      {{ item.quantity }}
    </span>

    <button
      iconStart="@tui.minus"
      size="s"
      appearance="flat"
      tuiButton
      tuiIconButton
      type="button"
      [style.border-radius.px]="0"
      (click)="decrase()"
    >
      -
    </button>
  </div>
  <span class="absolute top-0 left-0 p-1">
    <button
      iconStart="@tui.trash"
      size="s"
      appearance="primary-destructive"
      tuiButton
      tuiIconButton
      type="button"
      (click)="remove()"
      [style.border-radius.px]="50"
    ></button>
  </span>
</div>
